$font-body:    'Roboto Condensed', sans-serif;
$primary-color:#244751;
$container-color:#FFFFFF;


body {
  font: 100% $font-body;
  color: $primary-color;
  margin: 0;
  background-image: url(../images/background.jpg);
  opacity: 0.5;
  z-index: -1;

}

html {
    box-sizing: border-box;
    background-color: #eee;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container{
    height:100vh;
    width: 560px;
    margin:auto;
    padding-top: 150px;
    background-color: #FFFFFF;
    opacity: 1;
  }