.new-tweet{
  background-color: #eee;
  width: 500px;
  height: 12rem;
  margin: 2em;
  border: 1px solid black;
  border-radius: 10px;
  display:none;
  opacity: 1;
}

.alert{
  padding: 0.3rem 1rem;
  background-color: #f44336; /* Red */
  color: white;
  display: none;
}

.new-tweet textarea {
  height: 20px;
  padding: 2em;
  width: 400px;
  margin: 0.3em;
}

.new-tweet h2 {
  margin: 10px;
  border-bottom: 1px solid black;
}

.new-tweet form{
  margin: auto;
  padding: 0 20px;
}

.new-tweet-buttons{
  display: flex;
  justify-content: space-between;
}

.new-tweet-buttons input{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.3rem 0.5em;
}